.addons-page div {
  display: flex;
  flex-direction: column;
}

.addons-page label {
  border: 1px solid var(--dark-purple);
}

.addons-page__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
