.info-page div {
  display: flex;
  flex-direction: column;
}

.info-page label {
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.info-page input {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.info-page input:focus {
  border: 1px solid var(--purple);
}

.info-page .invalid {
  border: 1px solid var(--red);
}

.info-page button {
  align-self: flex-end;
  justify-self: flex-end;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.info-page .input-error {
  border: 1px solid var(--red);
}
