.summary-page__content {
  display: flex;
  flex-direction: column;
}

.summary-page__content--main {
  background-color: #f8f9ff;
  padding: 15px;
}

.summary-page__content--main hr {
  margin-top: 12px;
  margin-bottom: 6px;
  border-top: 0.5px solid lightgray;
}

.summary-page__content--plan {
  display: flex;
  justify-content: space-between;
}

.summary-page__content--plan div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.summary-page__content--plan button {
  background-color: transparent;
  border: none;
  font-size: 10px;
}

.summary-page__content--addons div {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}

.summary-page__content__total {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.summary-page__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
