* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  --dark-purple: #6e6ab1;
  --purple: #463fff;
  --blue: #154a8b;
  --red: #d94557;
}

body {
  height: 100%;
  background-color: #eff5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
span,
button {
  font-size: 12px;
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}
